@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

body{
  background-color: #000;
}

.container{
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
  width: 55%;
  padding: 20px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #000000FF;
  font-weight: 500;
  border-radius: 5px;
  justify-items: center;
  display: grid;
}

.wrapper{
  width: 100%;
  text-align: center;
}

input[type="range"]{
  display: inline-block;
  width: 80%;
  margin-left: 10px;
  margin-top: 25px;
  background: transparent;
}


span{
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  background-color: #5B84B1FF;
  color: #D4B996FF;
  padding: 10px 30px;
  font-size: 18px;
  letter-spacing: 0.8px;
  border-radius: 2px;
}

